<a href="https://colab.research.google.com/github/Rosemary-99/Taller-1-/blob/main/Project_Mongodb_to_bigquery.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<a href="https://colab.research.google.com/github/datapreparation-javeriana/etl-tutorial/blob/master/mongodb-to-bigquery.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# MongoDB to BigQuery (ETL) tutorial

Data Management course  
Univerisdad Javeriana  
March, 2023

Dataset: AirBnB reviews

In [ ]:
!pip install --upgrade google-cloud-bigquery

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: google-cloud-bigquery in /usr/local/lib/python3.9/dist-packages (3.4.2)
Collecting google-cloud-bigquery
  Downloading google_cloud_bigquery-3.6.0-py2.py3-none-any.whl (215 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 215.1/215.1 KB 3.5 MB/s eta 0:00:00
Requirement already satisfied: google-resumable-media<3.0dev,>=0.6.0 in /usr/local/lib/python3.9/dist-packages (from google-cloud-bigquery) (2.4.1)
Requirement already satisfied: python-dateutil<3.0dev,>=2.7.2 in /usr/local/lib/python3.9/dist-packages (from google-cloud-bigquery) (2.8.2)
Requirement already satisfied: grpcio<2.0dev,>=1.47.0 in /usr/local/lib/python3.9/dist-packages (from google-cloud-bigquery) (1.51.3)
Requirement already satisfied: google-cloud-core<3.0.0dev,>=1.6.0 in /usr/local/lib/python3.9/dist-packages (from google-cloud-bigquery) (2.3.2)
Requirement already satisfied: packaging>=20.0.0 in /usr/local/lib/python3.9/dist-packages (from google-cloud-bigquery) (23.0)
Requirement already satisfied: google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5 in /usr/local/lib/python3.9/dist-packages (from google-cloud-bigquery) (2.11.0)
Requirement already satisfied: protobuf!=3.20.0,!=3.20.1,!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<5.0.0dev,>=3.19.5 in /usr/local/lib/python3.9/dist-packages (from google-cloud-bigquery) (3.19.6)
Requirement already satisfied: proto-plus<2.0.0dev,>=1.15.0 in /usr/local/lib/python3.9/dist-packages (from google-cloud-bigquery) (1.22.2)
Requirement already satisfied: requests<3.0.0dev,>=2.21.0 in /usr/local/lib/python3.9/dist-packages (from google-cloud-bigquery) (2.25.1)
Requirement already satisfied: googleapis-common-protos<2.0dev,>=1.56.2 in /usr/local/lib/python3.9/dist-packages (from google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-cloud-bigquery) (1.58.0)
Requirement already satisfied: google-auth<3.0dev,>=2.14.1 in /usr/local/lib/python3.9/dist-packages (from google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-cloud-bigquery) (2.16.2)
Requirement already satisfied: grpcio-status<2.0dev,>=1.33.2 in /usr/local/lib/python3.9/dist-packages (from google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-cloud-bigquery) (1.48.2)
Requirement already satisfied: google-crc32c<2.0dev,>=1.0 in /usr/local/lib/python3.9/dist-packages (from google-resumable-media<3.0dev,>=0.6.0->google-cloud-bigquery) (1.5.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.9/dist-packages (from python-dateutil<3.0dev,>=2.7.2->google-cloud-bigquery) (1.15.0)
Requirement already satisfied: chardet<5,>=3.0.2 in /usr/local/lib/python3.9/dist-packages (from requests<3.0.0dev,>=2.21.0->google-cloud-bigquery) (4.0.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.9/dist-packages (from requests<3.0.0dev,>=2.21.0->google-cloud-bigquery) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.9/dist-packages (from requests<3.0.0dev,>=2.21.0->google-cloud-bigquery) (2022.12.7)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.9/dist-packages (from requests<3.0.0dev,>=2.21.0->google-cloud-bigquery) (1.26.14)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in /usr/local/lib/python3.9/dist-packages (from google-auth<3.0dev,>=2.14.1->google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-cloud-bigquery) (5.3.0)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/lib/python3.9/dist-packages (from google-auth<3.0dev,>=2.14.1->google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-cloud-bigquery) (4.9)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.9/dist-packages (from google-auth<3.0dev,>=2.14.1->google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-cloud-bigquery) (0.2.8)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in /usr/local/lib/python3.9/dist-packages (from pyasn1-modules>=0.2.1->google-auth<3.0dev,>=2.14.1->google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-cloud-bigquery) (0.4.8)
Installing collected packages: google-cloud-bigquery
  Attempting uninstall: google-cloud-bigquery
    Found existing installation: google-cloud-bigquery 3.4.2
    Uninstalling google-cloud-bigquery-3.4.2:
      Successfully uninstalled google-cloud-bigquery-3.4.2
Successfully installed google-cloud-bigquery-3.6.0

In [ ]:
!pip install pandas-gbq

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas-gbq in /usr/local/lib/python3.9/dist-packages (0.17.9)
Requirement already satisfied: setuptools in /usr/local/lib/python3.9/dist-packages (from pandas-gbq) (57.4.0)
Requirement already satisfied: google-cloud-bigquery-storage<3.0.0dev,>=1.1.0 in /usr/local/lib/python3.9/dist-packages (from pandas-gbq) (2.19.0)
Requirement already satisfied: google-auth>=1.25.0 in /usr/local/lib/python3.9/dist-packages (from pandas-gbq) (2.16.2)
Requirement already satisfied: numpy>=1.16.6 in /usr/local/lib/python3.9/dist-packages (from pandas-gbq) (1.22.4)
Requirement already satisfied: db-dtypes<2.0.0,>=0.3.1 in /usr/local/lib/python3.9/dist-packages (from pandas-gbq) (1.0.5)
Requirement already satisfied: google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5 in /usr/local/lib/python3.9/dist-packages (from pandas-gbq) (2.11.0)
Requirement already satisfied: pyarrow<10.0dev,>=3.0.0 in /usr/local/lib/python3.9/dist-packages (from pandas-gbq) (9.0.0)
Requirement already satisfied: pydata-google-auth in /usr/local/lib/python3.9/dist-packages (from pandas-gbq) (1.7.0)
Requirement already satisfied: pandas>=0.24.2 in /usr/local/lib/python3.9/dist-packages (from pandas-gbq) (1.3.5)
Requirement already satisfied: google-cloud-bigquery!=2.4.*,<4.0.0dev,>=1.27.2 in /usr/local/lib/python3.9/dist-packages (from pandas-gbq) (3.6.0)
Requirement already satisfied: google-auth-oauthlib>=0.0.1 in /usr/local/lib/python3.9/dist-packages (from pandas-gbq) (0.4.6)
Requirement already satisfied: packaging>=17.0 in /usr/local/lib/python3.9/dist-packages (from db-dtypes<2.0.0,>=0.3.1->pandas-gbq) (23.0)
Requirement already satisfied: requests<3.0.0dev,>=2.18.0 in /usr/local/lib/python3.9/dist-packages (from google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->pandas-gbq) (2.25.1)
Requirement already satisfied: protobuf!=3.20.0,!=3.20.1,!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<5.0.0dev,>=3.19.5 in /usr/local/lib/python3.9/dist-packages (from google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->pandas-gbq) (3.19.6)
Requirement already satisfied: googleapis-common-protos<2.0dev,>=1.56.2 in /usr/local/lib/python3.9/dist-packages (from google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->pandas-gbq) (1.58.0)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/lib/python3.9/dist-packages (from google-auth>=1.25.0->pandas-gbq) (4.9)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in /usr/local/lib/python3.9/dist-packages (from google-auth>=1.25.0->pandas-gbq) (5.3.0)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.9/dist-packages (from google-auth>=1.25.0->pandas-gbq) (0.2.8)
Requirement already satisfied: six>=1.9.0 in /usr/local/lib/python3.9/dist-packages (from google-auth>=1.25.0->pandas-gbq) (1.15.0)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.9/dist-packages (from google-auth-oauthlib>=0.0.1->pandas-gbq) (1.3.1)
Requirement already satisfied: google-cloud-core<3.0.0dev,>=1.6.0 in /usr/local/lib/python3.9/dist-packages (from google-cloud-bigquery!=2.4.*,<4.0.0dev,>=1.27.2->pandas-gbq) (2.3.2)
Requirement already satisfied: python-dateutil<3.0dev,>=2.7.2 in /usr/local/lib/python3.9/dist-packages (from google-cloud-bigquery!=2.4.*,<4.0.0dev,>=1.27.2->pandas-gbq) (2.8.2)
Requirement already satisfied: proto-plus<2.0.0dev,>=1.15.0 in /usr/local/lib/python3.9/dist-packages (from google-cloud-bigquery!=2.4.*,<4.0.0dev,>=1.27.2->pandas-gbq) (1.22.2)
Requirement already satisfied: google-resumable-media<3.0dev,>=0.6.0 in /usr/local/lib/python3.9/dist-packages (from google-cloud-bigquery!=2.4.*,<4.0.0dev,>=1.27.2->pandas-gbq) (2.4.1)
Requirement already satisfied: grpcio<2.0dev,>=1.47.0 in /usr/local/lib/python3.9/dist-packages (from google-cloud-bigquery!=2.4.*,<4.0.0dev,>=1.27.2->pandas-gbq) (1.51.3)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.9/dist-packages (from pandas>=0.24.2->pandas-gbq) (2022.7.1)
Requirement already satisfied: grpcio-status<2.0dev,>=1.33.2 in /usr/local/lib/python3.9/dist-packages (from google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->pandas-gbq) (1.48.2)
Requirement already satisfied: google-crc32c<2.0dev,>=1.0 in /usr/local/lib/python3.9/dist-packages (from google-resumable-media<3.0dev,>=0.6.0->google-cloud-bigquery!=2.4.*,<4.0.0dev,>=1.27.2->pandas-gbq) (1.5.0)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in /usr/local/lib/python3.9/dist-packages (from pyasn1-modules>=0.2.1->google-auth>=1.25.0->pandas-gbq) (0.4.8)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.9/dist-packages (from requests<3.0.0dev,>=2.18.0->google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->pandas-gbq) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.9/dist-packages (from requests<3.0.0dev,>=2.18.0->google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->pandas-gbq) (2022.12.7)
Requirement already satisfied: chardet<5,>=3.0.2 in /usr/local/lib/python3.9/dist-packages (from requests<3.0.0dev,>=2.18.0->google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->pandas-gbq) (4.0.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.9/dist-packages (from requests<3.0.0dev,>=2.18.0->google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->pandas-gbq) (1.26.14)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.9/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.0.1->pandas-gbq) (3.2.2)

In [ ]:
!pip install db-dtypes

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: db-dtypes in /usr/local/lib/python3.9/dist-packages (1.0.5)
Requirement already satisfied: numpy<2.0dev,>=1.16.6 in /usr/local/lib/python3.9/dist-packages (from db-dtypes) (1.22.4)
Requirement already satisfied: pyarrow>=3.0.0 in /usr/local/lib/python3.9/dist-packages (from db-dtypes) (9.0.0)
Requirement already satisfied: packaging>=17.0 in /usr/local/lib/python3.9/dist-packages (from db-dtypes) (23.0)
Requirement already satisfied: pandas<2.0dev,>=0.24.2 in /usr/local/lib/python3.9/dist-packages (from db-dtypes) (1.3.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.9/dist-packages (from pandas<2.0dev,>=0.24.2->db-dtypes) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.9/dist-packages (from pandas<2.0dev,>=0.24.2->db-dtypes) (2022.7.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.9/dist-packages (from python-dateutil>=2.7.3->pandas<2.0dev,>=0.24.2->db-dtypes) (1.15.0)

In [ ]:
import random
import string

import pymongo

import numpy as np
import pandas as pd
import re

from google.cloud import bigquery
from google.oauth2 import service_account

In [ ]:
def get_random_string(length):
    # choose from all lowercase letter
    letters = string.ascii_lowercase
    return "".join(random.choice(letters) for i in range(length))

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

## 1. E: Extracting data

In [ ]:
DB_NAME = "project"
COLLECTION = "features"

In [ ]:
pwd = 12345

In [ ]:
client = pymongo.MongoClient(f"mongodb+srv://rosemary:{pwd}@project.ztipkwf.mongodb.net/?retryWrites=true&w=majority")

In [ ]:
db = client[DB_NAME]

### Extract track_df

In [ ]:
track_df = pd.read_csv('/content/drive/MyDrive/BigQuery/tracks_mod.csv')

In [ ]:
track_df.shape

(586672, 20)

In [ ]:
track_df.dtypes

id                   object
name                 object
popularity          float64
duration_ms           int64
explicit              int64
artists              object
id_artists           object
release_date         object
danceability        float64
energy              float64
key                 float64
loudness            float64
mode                float64
speechiness         float64
acousticness        float64
instrumentalness    float64
liveness            float64
valence             float64
tempo               float64
time_signature      float64
dtype: object

In [ ]:
track_df.head()

,id,name,popularity,duration_ms,explicit,artists,id_artists,release_date,danceability,energy,key,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,time_signature
0,35iwgR4jXetI318WEWsa1Q,Carve,6.0,126903,0,['Uli'],['45tIt06XoI0Iio4LBEVpls'],1922-02-22,0.645,0.445,0.0,-13.338,1.0,0.4510,0.674,0.7440,0.151,0.127,104.851,3.0
1,021ht4sdgPcrDgSk7JTbKY,Capítulo 2.16 - Banquero Anarquista,0.0,98200,0,['Fernando Pessoa'],['14jtPCOoNZwquk5wd9DxrY'],1922-06-01,0.695,0.263,0.0,-22.136,1.0,0.9570,0.797,0.0000,0.148,0.655,102.009,1.0
2,07A5yehtSnoedViJAZkNnc,Vivo para Quererte - Remasterizado,0.0,181640,0,['Ignacio Corsini'],['5LiOoJbxVSAMkBS2fUm3X2'],1922-03-21,0.434,0.177,1.0,-21.180,1.0,0.0512,0.994,0.0218,0.212,0.457,130.418,5.0
3,08FmqUhxtyLTn6pAh6bk45,El Prisionero - Remasterizado,NaN,176907,0,['Ignacio Corsini'],['5LiOoJbxVSAMkBS2fUm3X2'],1922-03-21,0.321,NaN,7.0,-27.961,1.0,0.0504,0.995,0.9180,0.104,0.397,169.980,3.0
4,08y9GfoqCWfOGsKdwojr5e,Lady of the Evening,0.0,163080,0,['Dick Haymes'],['3BiJGZsyX9sJchTqcSA7Su'],1922,0.402,0.158,3.0,-16.900,0.0,0.0390,0.989,0.1300,0.311,0.196,103.220,4.0

### Extract track_df

In [ ]:
artist_df = pd.read_csv('/content/drive/MyDrive/BigQuery/artists_mod.csv')

In [ ]:
artist_df.shape

(1162095, 5)

In [ ]:
artist_df.dtypes

id             object
followers     float64
genres         object
name           object
popularity      int64
dtype: object

In [ ]:
artist_df.head()

,id,followers,genres,name,popularity
0,0DheY5irMjBUeLybbCUEZ2,0.0,[],Armid & Amir Zare Pashai feat. Sara Rouzbehani,0
1,0DlhY15l3wsrnlfGio2bjU,5.0,[],ปูนา ภาวิณี,0
2,0DmRESX2JknGPQyO15yxg7,0.0,[],Sadaa,0
3,0DmhnbHjm1qw6NCYPeZNgJ,0.0,[],Tra'gruda,0
4,0Dn11fWM7vHQ3rinvWEl4E,2.0,[],Ioannis Panoutsopoulos,0

## 2. T: Transforming data

### Análisis de calidad de datos y procesos de limpieza implementado: Track

In [ ]:
track_df.isnull().sum()

id                      0
name                   71
popularity          31544
duration_ms             0
explicit                0
artists                 0
id_artists              0
release_date            0
danceability        22195
energy              22426
key                 22558
loudness            22434
mode                22266
speechiness         22456
acousticness        22617
instrumentalness    22470
liveness            22278
valence             22348
tempo               22354
time_signature      22350
dtype: int64

In [ ]:
track_df.describe()

,popularity,duration_ms,explicit,danceability,energy,key,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,time_signature
count,555128.000000,5.866720e+05,586672.000000,564477.000000,564246.000000,564114.000000,564238.000000,564406.000000,564216.000000,564055.000000,564202.000000,564394.000000,564324.000000,564318.000000,564322.000000
mean,27.564493,2.300512e+05,0.027571,0.563608,0.542160,5.222037,-10.206486,0.658609,0.104757,0.449750,0.113352,0.213931,0.552261,118.457192,3.873484
std,18.371158,1.265261e+05,0.241849,0.166092,0.251872,3.519683,5.089432,0.474177,0.179644,0.348881,0.266767,0.184336,0.257680,29.765675,0.472978
min,0.000000,3.344000e+03,-1.000000,0.000000,0.000000,0.000000,-60.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,13.000000,1.750930e+05,0.000000,0.453000,0.343000,2.000000,-12.890000,0.000000,0.034000,0.096700,0.000000,0.098300,0.346000,95.594000,4.000000
50%,27.000000,2.148930e+05,0.000000,0.577000,0.549000,5.000000,-9.242000,1.000000,0.044300,0.422000,0.000024,0.139000,0.564000,117.375000,4.000000
75%,41.000000,2.638670e+05,0.000000,0.686000,0.748000,8.000000,-6.483000,1.000000,0.076300,0.784000,0.009530,0.278000,0.769000,136.317000,4.000000
max,100.000000,5.621218e+06,1.000000,0.991000,1.000000,11.000000,5.376000,1.000000,0.971000,0.996000,1.000000,1.000000,1.000000,246.381000,5.000000

In [ ]:
categoricas = list(filter(lambda x: track_df[x].dtype=="object", track_df.columns))
categoricas

['id', 'name', 'artists', 'id_artists', 'release_date']

In [ ]:
cat_df = track_df[categoricas]
cat_df.head()

,id,name,artists,id_artists,release_date
0,35iwgR4jXetI318WEWsa1Q,Carve,['Uli'],['45tIt06XoI0Iio4LBEVpls'],1922-02-22
1,021ht4sdgPcrDgSk7JTbKY,Capítulo 2.16 - Banquero Anarquista,['Fernando Pessoa'],['14jtPCOoNZwquk5wd9DxrY'],1922-06-01
2,07A5yehtSnoedViJAZkNnc,Vivo para Quererte - Remasterizado,['Ignacio Corsini'],['5LiOoJbxVSAMkBS2fUm3X2'],1922-03-21
3,08FmqUhxtyLTn6pAh6bk45,El Prisionero - Remasterizado,['Ignacio Corsini'],['5LiOoJbxVSAMkBS2fUm3X2'],1922-03-21
4,08y9GfoqCWfOGsKdwojr5e,Lady of the Evening,['Dick Haymes'],['3BiJGZsyX9sJchTqcSA7Su'],1922

Limpieza realease_date

YYYY-MM-DD

In [ ]:
date_malformed = track_df.loc[track_df['release_date'].apply(lambda x: (re.match('\d{4}-\d{2}-\d{2}', x) is None))]

In [ ]:
date_malformed.shape

(138594, 20)

In [ ]:
date_malformed.sample(3)

,id,name,popularity,duration_ms,explicit,artists,id_artists,release_date,danceability,energy,key,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,time_signature
12845,2lzxBEOBuwMN73hYSBUohJ,"Sonate pour violon et piano No. 17 in C Major,...",0.0,250080,0,"['Wolfgang Amadeus Mozart', 'Szymon Goldberg',...","['4NJhFmfw43RLBLjQvxDuRS', '3fjlPWNyUXfGqx6Oco...",1938,0.545,NaN,0.0,-17.411,1.0,0.0399,0.984,NaN,0.1920,0.543,97.670,4.0
33414,3vNjmFiKa1MFpdetnDFlha,Little Girl,19.0,143333,0,['Ritchie Valens'],['5Y9xEAGW4GwGJgbiI6W85P'],1959,0.600,0.364,9.0,-13.289,1.0,0.0315,0.760,0.00296,0.0454,0.836,137.541,4.0
229671,04rz2UaJqbK4aUs7TSk7Sw,Seize The Day,55.0,161512,0,"['Wax Tailor', 'Charlotte Savary']","['3qwxSif06Qwzykdln8ZGfG', '00iD8QRcuTSSKAhaFU...",2008,0.634,0.516,6.0,-8.174,0.0,0.0452,0.153,0.66500,0.2430,0.502,82.967,4.0

In [ ]:
date_malformed['release_date'].unique()

array(['1922', '1923', 'Year 1923', '1924', '1925', '1926', '1927',
       '1928', '1929', '1930', '1931', '1932', '1933', '1934', '1935',
       '1936', '1937', '1938', '1939', '1940', '1941', '1942', '1943',
       '1944', '1945', '1946', '1947', '1948', '1949', '1950', '1951',
       '1952', '1953', '1954', '1955', '1956-03', '1956', '1956-04',
       '1957-03', '1957', '1957-06', '1957-09', '1957-11', '1958',
       '1958-04', '1958-06', '1958-01', '1958-11', '1959', '1959-07',
       '1960', '1960-02', '1960-07', '1960-10', '1960-03', '1960-08',
       '1960-01', '1961', '1961-03', '1961-10', '1961-02', '1961-07',
       '1961-12', '1962', '1962-04', '1962-07', '1962-11', '1962-03',
       '1962-02', '1962-10', '1963-02', '1963', '1963-07', '1963-08',
       '1963-09', '1963-10', '1963-05', '1964', '1964-08', '1964-10',
       '1964-06', '1964-09', '1964-11', '1964-04', '1965', '1965-11',
       '1965-08', '1965-03', '1965-12', '1965-02', '1965-05', '1968',
       '1966-03', '1966-11', '1966-05', '1966', '1966-07', '1966-09',
       '1991', '1992', '1966-06', '1967-09', '1967', '1967-08', '1967-03',
       '1967-01', '1967-12', '1967-10', '1968-10', '1968-01', '1968-12',
       '1968-02', '1968-03', '1968-11', '1968-09', '1969-03', '1969',
       '1969-01', '1969-08', '1969-09', '1969-04', '1970', '1970-02',
       '1970-11', '1970-06', '1970-04', '1970-03', '1970-10', '1970-12',
       '1970-09', '1971', '1971-09', '1971-03', '1971-11', '1971-06',
       '1971-12', '1971-07', '1971-02', '1971-08', '1971-10', '1972',
       '1972-05', '1972-07', '1972-01', '1973', '1973-09', '1973-05',
       '1973-08', '1973-10', '1973-02', '1974', '1974-01', '1974-11',
       '1974-09', '1974-04', '1974-05', '1974-02', '1975', '1975-09',
       '1975-10', '1975-02', '1975-11', '1976', '1976-11', '1976-09',
       '1976-12', '1976-08', '1976-10', '1976-05', '1977', '1977-09',
       '1977-08', '1977-04', '1977-10', '1978', '1978-04', '1978-12',
       '1978-06', '1978-09', '1979', '1979-06', '1979-08', '1979-05',
       '1979-10', '1980', '1980-07', '1980-05', '1980-08', '1981',
       '1981-02', '1981-03', '1981-08', '1981-01', '1982', '1982-10',
       '1982-02', '1982-11', '1982-03', '1982-05', '1983', '1983-05',
       '1983-03', '1984', '1984-11', '1985', '1985-10', '1985-07', '1986',
       '1986-08', '1986-07', '1986-12', '1987', '1987-09', '1987-03',
       '1987-10', '1988', '1989', '1990', '1990-07', '1990-10', '1990-02',
       '1991-09', '1992-10', '1993', '1994', '1995', '1995-06', '1995-05',
       '1996', '1997', '1998', '1999', '2000', '2008', '2013', '2009',
       '2006', '2003', '2001', '2002', '2017', '2012', '2004', '2010',
       '2015', '2016', '2007', '2005', '2014', '2011', '1957-04',
       '1969-07', '1976-02', '1980-03', '1981-12', '1982-08', '1985-03',
       '1986-10', '1987-02', '1987-11', '1988-06', '1989-05', '1994-12',
       '1975-06', '1987-04', '2018', '1965-10', '1967-11', '1968-06',
       '1972-11', '1974-07', '1989-09', '1958-12', '1977-02', '1991-01',
       '1995-03', '1996-11', '1998-10', '2019', '1964-02', '1983-04',
       '1984-12', '1986-03', '1988-08', '1989-02', '1997-03', '1967-02',
       '2005-05', '1984-05', '2003-01', '1983-08', '1979-02', '1986-09',
       '1987-12', '1988-12', '1990-01', '1990-11', '1981-07', '1985-09',
       '1981-11', '1966-02', '1968-08', '1973-11', '1978-01', '1979-12',
       '1980-12', '1983-01', '1997-09', '1970-07', '1969-11', '1978-10',
       '2002-03', '1988-05', '1972-10', '1968-05', '1983-10', '1988-04',
       '2001-09', '1996-02', '2002-09', '2003-07', 'Year 2013', '1967-05',
       '1980-09', '1988-10', '1989-10', '1974-10', '1969-06', '1985-11',
       '1987-06', 'Year 1998', '1966-10', '1975-05', '1973-01', '1976-03',
       '1981-05', '1983-09', '1985-04', '1996-03', '1980-10', '1981-10',
       '1999-10', '1991-05', 'Year 2020'], dtype=object)

Se omitirá el valor de string year

In [ ]:
def extract_year(x):
  year = None
  if "Year" in x:
    x = x.replace("Year", "")
    x = x.strip()
    year = x
  else:
    year = x
  
  return year

extract_year("Year 2020")

'2020'

In [ ]:
pd.to_datetime(date_malformed['release_date'].apply(extract_year))

4        1922-01-01
5        1922-01-01
6        1922-01-01
7        1922-01-01
8        1922-01-01
            ...
586437   2009-01-01
586473   2011-01-01
586499   2013-01-01
586553   2015-01-01
586664   2020-01-01
Name: release_date, Length: 138594, dtype: datetime64[ns]

In [ ]:
track_df['release_date'] = track_df["release_date"].apply(extract_year)

In [ ]:
track_df['release_date'] = pd.to_datetime(track_df['release_date'])

In [ ]:
track_df['release_date'].dtype

dtype('<M8[ns]')

In [ ]:
track_df.dtypes

id                          object
name                        object
popularity                 float64
duration_ms                  int64
explicit                     int64
artists                     object
id_artists                  object
release_date        datetime64[ns]
danceability               float64
energy                     float64
key                        float64
loudness                   float64
mode                       float64
speechiness                float64
acousticness               float64
instrumentalness           float64
liveness                   float64
valence                    float64
tempo                      float64
time_signature             float64
dtype: object

### Análisis de calidad de datos y limpieza: Artist

In [ ]:
artist_df.isnull().sum()

id             0
followers     11
genres         0
name           0
popularity     0
dtype: int64

In [ ]:
artist_df[artist_df["followers"].isnull()]

,id,followers,genres,name,popularity
436666,7F71W80jaXFARK7hBjsDI2,NaN,['czech pop'],Marcell,36
436667,3MLHJz04KmEVzCTPclzkEm,NaN,['czech pop'],Niko,21
437264,0cqZsULDZdJTGA4Zqh8Ckv,NaN,[],Savzilla,0
437265,0BuknWzKujyc9HfZ1V50Uk,NaN,[],Duck Doja,0
439102,6ltU5gIDLmWNYaVNHnll5G,NaN,['mexican electronic'],Zofa,0
439103,7C9nWRMbRqpPUuKh2OEw9n,NaN,[],MHV,3
439104,41c30F8zy5UCTSevbn0WfD,NaN,['mexican electronic'],Broadband Star,0
457848,1DK979aOesiZ4Vkus8txqu,NaN,[],AmorArtis Orchestra & Johannes Somary,2
457849,2lr0R5vHGfI0C489h0r6qV,NaN,['dc indie'],Black Dog Prowl,16
457850,0xkSOIeyeTILNIOZKyFgaP,NaN,[],Band of the Fifteenth Field Artillery Regiment...,3
457851,4EqqnE0XMAcreVF84QGYJ0,NaN,[],Robert Steven Williams,0

In [ ]:
artist_df = artist_df.dropna()

In [ ]:
artist_df.isnull().sum()

id            0
followers     0
genres        0
name          0
popularity    0
dtype: int64

In [ ]:
artist_df["genres"].unique()

array(['[]', "['carnaval cadiz']", "['classical harp', 'harp']", ...,
       "['dark post-punk', 'french post-punk', 'polish post-punk']",
       "['pop punk', 'tulsa indie']",
       "['clean comedy', 'deep comedy', 'new comedy']"], dtype=object)

## 3. L: Loading data

In [ ]:
path ='/content/drive/MyDrive/BigQuery/javeriana-380300-b4f2f178d75b.json'

In [ ]:
credentials = service_account.Credentials.from_service_account_file(path, scopes=["https://www.googleapis.com/auth/cloud-platform"])

In [ ]:
client = bigquery.Client(credentials=credentials, project=credentials.project_id)

### Load track

In [ ]:
track_df.dtypes

id                          object
name                        object
popularity                 float64
duration_ms                  int64
explicit                     int64
artists                     object
id_artists                  object
release_date        datetime64[ns]
danceability               float64
energy                     float64
key                        float64
loudness                   float64
mode                       float64
speechiness                float64
acousticness               float64
instrumentalness           float64
liveness                   float64
valence                    float64
tempo                      float64
time_signature             float64
dtype: object

In [ ]:
# Creating the job config
job_config = bigquery.LoadJobConfig(
    schema=[
        bigquery.SchemaField("id", bigquery.enums.SqlTypeNames.STRING),
        bigquery.SchemaField("name", bigquery.enums.SqlTypeNames.STRING),
        bigquery.SchemaField("popularity", bigquery.enums.SqlTypeNames.FLOAT64),
        bigquery.SchemaField("duration_ms", bigquery.enums.SqlTypeNames.INT64),
        bigquery.SchemaField("explicit", bigquery.enums.SqlTypeNames.INT64),
        bigquery.SchemaField("artists", bigquery.enums.SqlTypeNames.STRING),
        bigquery.SchemaField("id_artists", bigquery.enums.SqlTypeNames.STRING),
        bigquery.SchemaField("release_date", bigquery.enums.SqlTypeNames.TIMESTAMP),
        bigquery.SchemaField("danceability", bigquery.enums.SqlTypeNames.FLOAT64),
        bigquery.SchemaField("energy", bigquery.enums.SqlTypeNames.FLOAT64),
        bigquery.SchemaField("key", bigquery.enums.SqlTypeNames.FLOAT64),
        bigquery.SchemaField("loudness", bigquery.enums.SqlTypeNames.FLOAT64),
        bigquery.SchemaField("mode", bigquery.enums.SqlTypeNames.FLOAT64),
        bigquery.SchemaField("speechiness", bigquery.enums.SqlTypeNames.FLOAT64),
        bigquery.SchemaField("acousticness", bigquery.enums.SqlTypeNames.FLOAT64),
        bigquery.SchemaField("instrumentalness", bigquery.enums.SqlTypeNames.FLOAT64),
        bigquery.SchemaField("liveness", bigquery.enums.SqlTypeNames.FLOAT64),
        bigquery.SchemaField("valence", bigquery.enums.SqlTypeNames.FLOAT64),
        bigquery.SchemaField("tempo", bigquery.enums.SqlTypeNames.FLOAT64),
        bigquery.SchemaField("time_signature", bigquery.enums.SqlTypeNames.FLOAT64)
    ],
    # Drop and re-create table, if exist
    write_disposition="WRITE_TRUNCATE"
)

In [ ]:
BQ_TABLE_NAME = f"project_spotify.track{get_random_string(4)}"
print(BQ_TABLE_NAME)

project_spotify.tracklauf

In [ ]:
# Sending the job to BigQuery
job = client.load_table_from_dataframe(track_df, BQ_TABLE_NAME, job_config=job_config)
job.result()

LoadJob<project=javeriana-380300, location=US, id=cc24dcc2-1cae-44f9-a03d-54d685629cbe>

In [ ]:
# Verifying if table was successfully created or updated
table = client.get_table(BQ_TABLE_NAME)
print("Loaded {} rows and {} columns to {}".format(table.num_rows, len(table.schema), BQ_TABLE_NAME))

Loaded 586672 rows and 20 columns to project_spotify.tracklauf

In [ ]:
query = f"""SELECT * FROM javeriana-380300.{BQ_TABLE_NAME} LIMIT 5"""
pd.read_gbq(query, credentials=credentials)

,id,name,popularity,duration_ms,explicit,artists,id_artists,release_date,danceability,energy,key,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,time_signature
0,5Wz3ZFimg3lQnslx8z4nYI,"L'Italiana in Algeri (1991 Digital Remaster), ...",2.0,178560,0,"['Gioachino Rossini', 'Mario Petri', 'Graziell...","['0roWUeP7Ac4yK4VN6L2gF4', '4YAbmApFizWAQJVt5m...",1955-01-01 00:00:00+00:00,0.651,0.501,0.0,-13.559,NaN,0.0634,0.862,0.609000,0.1470,0.779,119.005,4.0
1,1BIp9ohEicO9s8LLd2yUFv,Kapitel 1.25,1.0,77110,0,"['Rudyard Kippling', 'Nicolai Gogol', 'Pierre ...","['1VTfkSG3d4enE4jyJZOssx', '4EBlofTtLbc6Wmp55g...",1956-04-08 00:00:00+00:00,0.654,0.342,2.0,-19.925,NaN,0.9480,0.703,0.000000,0.3100,0.646,NaN,4.0
2,3cr5ff2zIysmrsM0WS6uxn,Kapitel 1.13,1.0,79444,0,"['Rudyard Kippling', 'Nicolai Gogol', 'Pierre ...","['1VTfkSG3d4enE4jyJZOssx', '4EBlofTtLbc6Wmp55g...",1956-04-08 00:00:00+00:00,0.735,0.248,1.0,-22.961,NaN,0.9180,0.495,0.000000,0.2380,0.460,83.223,4.0
3,1NKvRIK97cs5X4J20LVTy9,"Le nozze di Figaro, K. 492 (Excerpts Sung in G...",0.0,626933,0,"['Wolfgang Amadeus Mozart', 'Helena Braun', 'I...","['4NJhFmfw43RLBLjQvxDuRS', '49cE9yyxclCed5Z1Q7...",1942-01-01 00:00:00+00:00,0.290,0.218,10.0,-20.075,NaN,0.1450,0.902,0.000002,NaN,0.308,77.247,4.0
4,4yvyKHFTe2OaxkJ9XLoVJV,"Don Giovanni, K.527 / Act 1: ""Riposate, vezzos...",2.0,555307,0,"['Wolfgang Amadeus Mozart', 'Cesare Siepi', 'F...","['4NJhFmfw43RLBLjQvxDuRS', '4XoFqKtEQHiuxL8CmV...",1955-01-01 00:00:00+00:00,0.411,0.356,0.0,-12.905,NaN,0.0690,0.925,0.011300,0.0949,0.341,132.274,4.0

### Load track

In [ ]:
artist_df.dtypes

id             object
followers     float64
genres         object
name           object
popularity      int64
dtype: object

In [ ]:
job_config = bigquery.LoadJobConfig(
schema=[
# Supported datatypes: https://cloud.google.com/bigquery/docs/reference/standard-sql/data-types
bigquery.SchemaField("id", bigquery.enums.SqlTypeNames.STRING),
bigquery.SchemaField("followers", bigquery.enums.SqlTypeNames.FLOAT64),
bigquery.SchemaField("genres", bigquery.enums.SqlTypeNames.STRING),
bigquery.SchemaField("name", bigquery.enums.SqlTypeNames.STRING),
bigquery.SchemaField("popularity", bigquery.enums.SqlTypeNames.INT64)
],
# Drop and re-create table, if exist
write_disposition="WRITE_TRUNCATE"
)

In [ ]:
BQ_TABLE_NAME = f"project_spotify.artist{get_random_string(4)}"
print(BQ_TABLE_NAME)

project_spotify.artistxxlt

In [ ]:
# Sending the job to BigQuery
job = client.load_table_from_dataframe(artist_df, BQ_TABLE_NAME, job_config=job_config)
job.result()

LoadJob<project=javeriana-380300, location=US, id=bcf59922-2f07-4d26-98fc-677e412e82c1>

In [ ]:
# Verifying if table was successfully created or updated
table = client.get_table(BQ_TABLE_NAME)
print("Loaded {} rows and {} columns to {}".format(table.num_rows, len(table.schema), BQ_TABLE_NAME))

Loaded 1162095 rows and 5 columns to project_spotify.artistxxlt

In [ ]:
query = f"""SELECT * FROM javeriana-380300.{BQ_TABLE_NAME} LIMIT 5"""
pd.read_gbq(query, credentials=credentials)

,id,followers,genres,name,popularity
0,7frYUe4C7A42uZqCzD34Y4,53636.0,"['desi pop', 'punjabi hip hop', 'punjabi pop']",Sultaan,53
1,6acbdy69rtlv8m9EW31MYl,72684.0,"['afro dancehall', 'afropop', 'azontobeats', '...",Phyno,51
2,72578usTM6Cj5qWsi471Nc,248568.0,"['filmi', 'indian folk', 'indian rock', 'kanna...",Raghu Dixit,52
3,4rK6HLvoZhLFUTcUhG9WfC,5644.0,[],Deacon,52
4,6iv4lysB1yHXoZJ2gfqTdh,786.0,['indian fusion'],Shashwat Singh,56